@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tracking-tight-custom {
    letter-spacing: -1px;
  }
  .tracking-tighter-custom {
    letter-spacing: -2px;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
